<html>
<head>
	<link rel="stylesheet" href="./uikit.css">	
</head>
<body style="color: black">
	<article class="uk-article">
		<h1 class="uk-article-title">How to use this site</h1>
		<p class="uk-article-lead">1. Select a target 3GPP meeting using the drop-down lists on the top-left. </p>
		<p class="uk-article-lead">2. Click the "Load Tdoclist" button to load the Tdoclist of the chosen meeting. The site regularly scan the 3GPP FTP site to retrieve the most latest Tdoclist.</p>
		<p class="uk-article-lead">3. You can use a variety of doc filters on the top-right to downselect the Tdocs that most interest you.</p>
		<p class="uk-article-lead">4. Click the Tdoc number and the document will be displayed online. Some Tdocs may not be available if they are not in 3GPP FTP.</p>
		<p class="uk-article-lead">Note that only some recent SA2 and RAN2 meetings are available now. If you'd like to have other workgroups supported by this site, or have more history meetings accommodated, I'll be glad to do it. Just drop me a line at <a href="">tawayee@gmail.com</a>.</p>
		<p class="uk-article-lead">Enjoy reading 3GPP :)</p>
	</article>
</body>
</html
