{% extends "./base.html" %}
{% block ControlPanel %}
	<div class="controls">
		<form class="uk-form-horizontal" style="margin-bottom:auto; width: 100%" method="get">
			<div class="uk-grid">
				<div class="uk-width-3-10 uk-text-left">
					{{ tdoc_form.work_group }}
					{{ tdoc_form.meeting_no }}
					<button name="load_tdoclist" class="uk-button uk-button-primary uk-button-small">Load Tdoclist</button>
				</div>
				<div class="uk-width-7-10 uk-text-right">
					{{ tdoc_form.tdoc_source }}
					{{ tdoc_form.tdoc_agenda_item }}
					{{ tdoc_form.tdoc_workitem }}
					{{ tdoc_form.tdoc_release }}
					{{ tdoc_form.tdoc_type }}
					<button name="filter_tdoclist" id="filter_tdoclist" class="uk-button uk-button-primary uk-button-small" >Filter Tdocs</button>
				</div>
	
		</div>	
		</form>
	</div>

{% endblock %}

{% block DocList %}

<table class="uk-table uk-table-striped uk-table-condensed" >
	<tbody>
	{% for tdoc in tdoc_list %}
		<tr>
			<td class="uk-width-1-3"> 
			{% if tdoc.tdoc_exist %}
				<a href="{{ tdoc.tdoc_file }}" onclick="showTdoc(this.href); return false;">
			{% endif %}
				{{ tdoc.tdoc_number }}
			{% if tdoc.tdoc_exist %} </a> {% endif %}
			</td>
			<td class="uk-width-2-3"> {{ tdoc.tdoc_source }} </td>
		</tr>
	{% endfor %}
	</tbody>
</table>

{% endblock %}


{% block DocFrame %}
	<iframe id="docframe" width="100%" height="100%" src=""></iframe>
{% endblock %}
